@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --paars-kleur: #5722CD;
    --blauw-kleur: #4845E4;
    --roze-kleur: #ED4385;
    --standaard-tekst: #0C0C0C;
    --achtergrond-woorden: #F2F0FF;
    --achtergrond-project: #F3F6F9;
    --achtergrond-service: #7A7A7A;
}

/* ------------------------------- 2. Typography ----------------------------------- */

body {
    font-family: roboto, sans-serif, Arial;
}

body h1, h2, h3, h4, h5, h6 {
    font-family: merriweather, sans-serif, Arial;
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Re-usables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 2px red;
}

.inner-container {
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    border: dotted 2px blue;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background-color: var(--blauw-kleur);
    color: white;
}

.header-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: dotted 1px black;
}

.header-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-basis: 300px;
    justify-content: space-between;
    border: black 1px dotted;
    margin: 10px 20px 10px 0;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text h2 {
    padding: ;
}

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */